.nav-bar {
  background-color: #000000;
}
body {
  background-repeat: no-repeat;
  height: 100%;
  cursor: url(http://localhost/chasse-aux-fant%c3%b4mes/maqt/client/chasse%20aux%20fantomes/assets/img/hend2.gif),
    auto;
  font-family: "Permanent Marker" !important;
}
.ctn {
  background-color: transparent;
}
.color-red {
  color: red;
}
.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.bg-home {
  position: absolute;
  width: 100%;
  background-image: url("../../assets/img/bg-home.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.content-v {
  z-index: 9999;
  position: relative;
  background-color: transparent;
  width: 100%;
}
.content-b {
  margin-top: 100px;
}
.select-form {
  text-align: center;
  height: 0px;
}

.select-style {
  font-size: 25px;
  padding: 0px 10px 0px 10px;
  height: 55px;
  border: 2px solid #c0c0c0;
}

.btn-taille {
  /*font-size: x-large;*/
  /*text-align: center;*/
  /*border: none;*/
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-taille {
  border: none;
  color: white;
  padding: 35px 95px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-taille {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}

.btn-taille {
  width: 100%;
}

a {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .logo-nav {
    width: 5em;
    height: 2em;
  }
  .text-start {
    display: none;
    font-size: 11px;
  }
  .text-start-m {
    display: inline;
    font-size: 11px;
    margin-left: -30px;
  }

  .nav-padding {
    padding-left: 0px;
    padding-right: 18px;
  }
  #grid--examples {
    min-height: 1800px;
  }
  .cont-page {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-nav {
    width: 5em;
    height: 2em;
  }
  .text-start {
    display: none;
    font-size: 11px;
  }
  .text-start-m {
    display: inline;
    font-size: 11px;
    margin-left: -30px;
  }
  .text-start-p {
    margin-left: 0px;
  }
  .nav-padding {
    padding-left: 0px;
    padding-right: 18px;
  }
  #grid--examples {
    min-height: 1400px;
  }
  .cont-page {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 693px) {
  .logo-nav {
    width: 100px;
    height: 70px;
  }
  .text-start {
    display: none;
    font-size: 11px;
  }
  .text-start-m {
    display: inline;
    font-size: 11px;
    margin-left: -30px;
  }
  .text-start-p {
    margin-left: 0px;
  }
  .nav-padding {
    padding-left: 0px;
    padding-right: 38px;
  }
  #grid--examples {
    min-height: 1200px;
  }
  .cont-page {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-nav {
    width: 120px;
    height: 60px;
  }
  .text-start {
    font-size: 11px;
    display: inline;
  }
  .text-start-m {
    display: none;
    font-size: 14px;
  }
  .text-start-p {
    margin-left: 0px;
  }
  .nav-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
  #grid--examples {
    min-height: 900px;
  }
  .cont-page {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media only screen and (min-width: 1100px) {
  .logo-nav {
    width: 120px;
    height: 60px;
  }
  .text-start {
    font-size: 17px;
    display: inline;
  }
  .text-start-m {
    display: none;
    font-size: 19px;
  }
  .text-start-p {
    margin-left: 0px;
  }
  .nav-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
  #grid--examples {
    min-height: 800px;
  }
  .cont-page {
    padding-left: 20%;
    padding-right: 20%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-nav {
    width: 170px;
    height: 70px;
  }
  .text-start {
    display: inline;
    font-size: 17px;
  }
  .text-start-m {
    display: none;
    font-size: 19px;
  }
  .text-start-p {
    margin-left: 0px;
  }
  .nav-padding {
    padding-left: 0px;
    padding-right: 50px;
  }
  #grid--examples {
    min-height: 500px;
  }
  .cont-page {
    padding-left: 20%;
    padding-right: 20%;
  }
}
.width4 {
  text-align: center;
  width: 33%;
}
.navbar-toggler {
  width: 35px !important;
  margin-top: 0px;
  text-align: center;
}
.navbar-toggler-icon {
  color: #fffffff !important;
  height: 60px !important;
}
.border1 {
  border: 1px solid #ff0000;
}
.incons_list {
  margin-left: -10px;
  margin-top: -3px;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0rem !important;
  text-decoration: none;
  white-space: nowrap;
}
.btn-play {
  min-width: 250px;
  padding: 20px;
  text-align: center;
}
.btn-play:hover {
  min-width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #b70819 !important;
  border: 1px solid #b70819 !important;
  border-radius: 10px;
}
#grid--examples {
  z-index: 999;
  position: absolute;
  min-width: 100%;
  padding: 0px;
  height: 100%;
}
#grid__img--example-4 {
  width: 100%;
  height: auto;
}
#imgbody {
  width: 100%;
  height: 100%;
}
.col-btn {
  padding: 0px;
  margin: 9px;
  text-align: center;
  margin-top: 100px;
  height: 0px;
}
.col-t0 {
  background-color: transparent;
  height: 0px;
}
.col-t0 {
  margin: 60px;
  padding: 10px;
  background-color: transparent;
  height: 0px;
}
.col-t0-t {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  background-color: transparent;
  height: 0px;
}
.col-t1 {
  height: 0px;
  margin-top: 140px;
}
.col-t1-t {
  color: #dc3545 !important;
  text-align: center;
}
.col-t2 {
  height: 0px;
  margin-top: 100px;
}
.col-t2-t {
  color: rgb(249, 249, 249);
  text-align: center;
  padding: 14px;
}
.row {
  --bs-gutter-x: 0rem !important;
}
.w3-display-middle {
  position: relative;
}
